@font-face {
  font-family: Agrandir;
  src: url(fonts/Agrandir-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: black;
  font-family: "Agrandir", sans-serif;
  color: #fff;
}
/* Main section */
.ad-container {
  background-color: #000;
  color: #fff;
  height: 100vh;
  padding: 40px 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -10px;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.text-section {
  position: absolute; /* overlay on top */
  left: 1%;
  top: 12%;
  right: 45%;
  transform: translateY(-5%);
  z-index: 3;
  max-width: 100%; /* keep text compact */
}

.text-section h1 {
  font-family: Agrandir;
  font-size: 3.8rem;
  line-height: 1.4;
  margin-bottom: 25px;
  font-weight: 600;
}

.highlight {
  font-family: Agrandir;
  background-color: #c6ff00;
  color: #275c1d;
  padding: 0 6px;
}
.text-section p {
  font-family: Agrandir;
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  background-color: #c6ff00;
  color: #275c1d;
  padding: 14px 20px;
  font-size: 200%;
  font-family: agrandir;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: 40%;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #d9ff33;
}
.image-section {
  flex: 2;
  text-align: right;
  position: relative;
  z-index: 2;
}
.image-section img {
  width: fit-content;
  border-radius: 8px;
  transform: rotate(4deg);
}
