@font-face {
  font-family: "Agrandir";
  src: url("/Agrandir-Regular.otf") format("opentype");
}

:root {
  --green: #274602;
  --lightgreen: #c1f11d;
  --black: #000000;
  --white: #ffffff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Agrandir", sans-serif;
  color: var(--white);
  overflow-x: hidden;
}

/* CONTAINER */
.header-section {
  width: 90%;
  max-width: 1440px;
  margin: 2% auto;
  /* border: 2px solid white; */
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 14%;
}

.logo img {
  width: 130px;
}

.socials-link {
  display: flex;
  justify-content: space-evenly;
  gap: 22px;
}

.socials-link img {
  width: 45px;
}

/* MAIN CONTENT */
.content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid white; */
  flex-wrap: wrap;
}

/* BUTTON */
.btn {
  background-color: var(--lightgreen);
  color: var(--green);
  padding: 16px 30px;
  border-radius: 35px;
  text-decoration: none;
  font-family: Agrandir;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  position: absolute;
  top: 80%;
  left: 6%;
  transform: translateY(650%);
}

.btn:hover {
  background-color: white;
}

h1 {
  font-family: Agrandir;
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 25px;
  font-weight: 600;
  position: absolute;
  top: 33%;
  left: 6%;
  transform: translateY(5%);
  /* border: 2px solid white; */
  z-index: 2;
}

.highlight {
  font-family: Agrandir;
  background-color: #c6ff00;
  color: #275c1d;
  padding: 0 6px;
}
p {
  font-family: Agrandir;
  font-size: 1.3rem;
  color: #ccc;
  position: absolute;
  top: 88%;
  left: 6%;
  transform: translateY(650%);
  /*border: 2px solid white;*/
}

.keke {
  width: 46%;
  position: absolute;
  right: 0%;
  left: 46%;
  transform: rotate(-2deg);
  transform: translateY(42%);
  /* border: 2px solid white; */
}
/* Responsive Tablets*/
@media (max-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1rem;
    transform: translateY(700%);
  }
  .btn {
    font-size: 1.3rem;
    transform: translateY(560%);
  }
}
/*Responsive Phones*/
@media (max-width: 500px) {
  :root {
    --green: #274602;
    --lightgreen: #c1f11d;
    --black: #000000;
    --white: #ffffff;
  }
 .header-section {
  width: 90%;
  max-width: 500px;
  margin: 2% auto;
  /* border: 2px solid white; */
}
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin-top: 10%;
  }
  .logo img {
    width: 100px;
  }

  .socials-link {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  .socials-link img {
    width: 25px;
  }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid white; */
    flex-wrap: wrap;
  }
  h1 {
    font-family: Agrandir;
    font-size: 2.5rem;
    line-height: 1.3;
    padding: 5px 6px;
    position: absolute;
    top: 33%;
    left: 6%;
    transform: translateY(2%);
  }
  .mobile-hide {
    display: none;
  }
  p {
    font-size: 1.4rem;
    padding: 5px 9px;
    position: absolute;
    top: 80%;
    left: 6%;
    transform: translateY(350%);
  }
  .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 3;
    transform: translateY(1040%);
  }
  .keke {
    width: 390px;
    position: absolute;
    top: 0;
    left: 6%;
    transform: rotate(-5deg);
    transform: translateY(115%);
    /* border: 2px solid white; */
  }
}
@media (max-width: 400px) {
  nav {
    gap: 45px;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
    padding: 5px 8px;
  }
  .btn {
    transform: translateY(1000%);
  }
  .keke {
    width: 380px;
    transform: translateY(115%);
  }
}
@media (max-width: 375px) {
  nav {
    gap: 25px;
  }
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.1rem;
    padding: 5px 9px;
    transform: translateY(450%);
  }
  .btn {
    font-size: 1.1rem;
    transform: translateY(950%);
  }
  .keke {
    width: 341px;
    transform: translateY(115%);
  }
}














